<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/752c9049-d4ca-4b52-a31a-c33cd59c3a3c/resourceGroups/rg-production-plant/providers/Microsoft.ApiManagement/service/ProductionPlantApiapi/apis/ProductionPlantApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/752c9049-d4ca-4b52-a31a-c33cd59c3a3c/resourceGroups/rg-production-plant/providers/Microsoft.Web/sites/API-production-plant</ResourceId>
    <ResourceGroup>rg-production-plant</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://api-production-plant-d7cjaedzfacucpbn.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>44444444-4444-4444-4444-444444444444</ProjectGuid>
    <PublishUrl>https://api-production-plant-d7cjaedzfacucpbn.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>